td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
}

td.title_column {
    width: 20%;
}
td.instructor_column {
    width: 10%;
}
td.meeting_column {
    width: 25%;
}

table {
    /* max-width: 400px; */
    width: 100% !important;
    table-layout:fixed;
  }
  
#submit-course-button {
    display: none;
}

#confirmModalBody {
    overflow-wrap: break-word;
}

