<div id="courses-container">
    <div class="form-signin">
        <h1 id="catalog-heading" class="h3 mb-3 fw-normal">Course Catalog</h1>

        <div id="error-msg-container">
            <p hidden id="error-msg" class="alert alert-danger"></p>
        </div>

        <table id="catalog-table" class="table table-bordered table-dark table-hover">
            <thead>
                <tr id="catalog-table-heading">
                    <td value="title">Title</td>
                    <td value="department">Department</td>
                    <td value="courseNo">Course Number</td>
                    <td value="sectionNo">Section Number</td>
                    <td value="instructor">Instructor</td>
                    <td value="credits">Credits</td>
                    <td value="totalSeats">Total Seats</td>
                    <td value="openSeats">Open Seats</td>                
                    <td value="description">Description</td>
                    <td value="meetingTimes">Meeting Times</td>
                    <td value="prerequisites">Prerequisites</td>
                </tr>
            </thead>
            <tbody id="catalog-table-body">

            </tbody>
        </table>
    </div>
</div>