<div id="dashboard-component">

    <div id="dashboard-header">

        <div class="container">
            <div class="row">
              <div class="col">

                <h3 id="dashboard-header-user-name">

                    <small id="dashboard-header-user-dashboard" class="text-muted">With faded secondary text</small>
                </h3>

              </div>
              <div class="col-6">

                <div id="error-msg-container">
                      <div hidden id="error-msg" class="alert alert-danger" role="alert">
                        A simple danger alert—check it out!
                      </div>
                      <div hidden id="warn-msg" class="alert alert-warning" role="alert">
                        A simple warning alert—check it out!
                      </div>
                      <div hidden id="info-msg" class="alert alert-info" role="alert">
                        A simple info alert—check it out!
                      </div>

                </div>
              </div>
            </div>
          </div>

    </div>

    <div id="dashboard-body">

        <!-- Student Dashboard Fragment Body -->

        <div id="student-dash-frag">
            <div id="empty-schedule" class="container mt-5">
                <div class="row justify-content-md-center">
                    <div class="col-md-auto">
                        <div style="color: #e9ecef">
                            <h1>Schedule Empty</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div hidden id="schedule" class="table-responsive-xxl">
                <table id="schedule-table" class="table table-striped caption-top">
                    <caption>Schedule</caption>
                    <thead>
                        <tr>
                            <td hidden class="id_column">id</td>
                            <td class="title_column">title</td>
                            <td>dept.</td>
                            <td>course #</td>
                            <td>section #</td>
                            <td class="instructor_column">instructor</td>
                            <td>credits</td>
                            <td class="meeting_column">meeting times</td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <!-- Faculty Dashboard Fragment Body -->

        <div hidden id="faculty-dash-frag">
            <p>Faculty Dashboard Fragment</p>
        </div>

    </div>

</div>