div > input {
    margin-bottom: .6rem;
}

#dashboard-header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    border-bottom: .1rem solid grey;
}

.container {
    padding: 0;
    margin: 0;
}

table {
    width: 100%;
}

td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td.title_column {
    width: 20%;
}
td.instructor_column {
    width: 20%;
}
td.meeting_column {
    width: 25%;
}