<div id="dashboard-component">

    <div id="dashboard-header">

        <div class="container">
            <div class="row">
              <div class="col">

                <h3 id="dashboard-header-user-name">

                    <small id="dashboard-header-user-dashboard" class="text-muted">With faded secondary text</small>
                </h3>

              </div>
              <div class="col-6">

                <div id="error-msg-container">
                      <div hidden id="error-msg" class="alert alert-danger" role="alert">
                        A simple danger alert—check it out!
                      </div>
                      <div hidden id="warn-msg" class="alert alert-warning" role="alert">
                        A simple warning alert—check it out!
                      </div>
                      <div hidden id="info-msg" class="alert alert-info" role="alert">
                        A simple info alert—check it out!
                      </div>

                </div>
              </div>
            </div>
          </div>

    </div>

    <div id="dashboard-body">

        <!-- Student Dashboard Fragment Body -->

        <div hidden id="student-dash-frag">
            <div class="table-responsive-xxl">
                <table id="schedule-table" class="table table-striped caption-top">
                    <caption>Schedule</caption>
                    <thead>
                        <tr id="schedule-table-heading">
                            <td id="title" class="title_column">title</td>
                            <td id="department">dept.</td>
                            <td id="courseNo">course no.</td>
                            <td id="sectionNo">section</td>
                            <td id="instructor" class="instructor_column">instructor</td>
                            <td id="credits">credits</td>
                            <td id="meetingTimes" class="meeting_column">meeting times</td>
                        </tr>
                    </thead>
                    <tbody id="schedule-table-body">
                        <!-- <tr>
                            <td>Introduction to Programming</td>
                            <td>two</td>
                            <td>three</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>four</td>
                            <td>five</td>
                            <td>six</td>
                            <td>one</td>
                            <td>two</td>
                            <td>three</td>
                            <td>mewow</td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Faculty Dashboard Fragment Body -->

        <div hidden id="faculty-dash-frag">
            <p>Faculty Dashboard Fragment</p>
        </div>

    </div>

</div>