<div id="dashboard-component">

    <div class="form-signin">
        <h1 id="welcome-user" class="h3 mb-3 fw-normal">Welcome</h1>

        <div id="username-container" class="form-floating">
            
        </div>
        <div id="name-container" class="form-floating">
            
        </div>
        <div id="email-container" class="form-floating">

        </div>
        <div id="schedule-container" class="form-floating">

        </div>

    </div>

    <div id="error-msg-container">
        <p hidden id="error-msg" class="alert alert-danger"></p>
    </div>

</div>