#navbar-component {
    padding-left: 5rem;
    padding-right: 5rem;
}

div.container-fluid {
    padding: 0px;
}

div > input {
    margin-bottom: .6rem;
}

.nav-item {
    cursor: pointer;
}

.dropdown-menu {
    padding: 0;
    overflow: hidden;
}

.dropdown-item {
    cursor: pointer;
}
