#navbar-component {
    padding-left: 5rem;
    padding-right: 7rem;
}

div.container-fluid {
    padding: 0px;
}

div > input {
    margin-bottom: .6rem;
}

.nav-item {
    cursor: pointer;
}

.dropdown-menu {
    padding: 0;
    overflow: hidden;
}

.dropdown-item {
    cursor: pointer;
}

i {
    padding-top: .75rem;
    font-size: 20px;
    color: gray;
    margin-left: 1rem;
}

i:hover {
    color: white;
}